*{
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main
{
    position: relative;
    background: #160029;
    width: 100vw;
    height: 100vh;

}
.main .title
{
    position: absolute;
    top: 35%;
    text-align: center;
    font-family: SF Pro Display, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 96px;
    /* or 157% */
    text-transform: uppercase;
    color: #E5E1E6;
    text-shadow: 6px 4px 4px #000000;
}

.main2
{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #160029;
}
.blur_circle
{
    
    position: absolute;
    width: 414.98px;
    height: 450px;
    left: 1110px;
    top: -32px;
    background: rgba(233, 70, 218, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(190px);
    border-radius: 225px;
}
.blur_circle2
{
    
    left: 0px;
    top:230px;

}
.circleanimation
{
    position: absolute;
    top: 15%;
}
.navbar
{
    margin-left:26%;
    width: 50vw;
    border-radius: 30px;
    background-color: #8c01b8;
    box-shadow: 4px 4px 0 0 #fff;
}
.main .navbar .center
{
    text-align: center;
    color: white;
}
.main .navbar .center ul
{
    display: flex;
    justify-content:space-between;
    list-style: none;
    padding: 20px;
   
}
.main .title
{
   position: absolute;
    color:white;
    
}
.main .tagline
{
    position: absolute;
    top: 90%;
    padding-left: 10px;
    color: white;
}
.main2 .container1
{
    color: white;
    letter-spacing: 2px;
    padding-left: 10px;
}
.main2 .container2
{
    padding: 50px;
    position: absolute;
    top:10%;
    left:15%;
    width:70vw;
    height: auto;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(90px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 20px;
}
.main2 .container2 .info .info-title{
    margin-bottom:20px;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.main2 .container2 .info .galleryimages
{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;

}
.main2 .container2 .info .galleryimages img{
    margin-top: 10px;
    margin-left: 10px;
    width: 300px;
    height: 200px;
}